# Dependency folders (Ini ukurannya gede banget, jangan di-upload)
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Sangat rahasia! Jangan sampai bocor ke publik)
.env
.env.local

# OS Metadata (File sampah dari Windows/Mac)
.DS_Store
Thumbs.db

# Folder build (Jika nanti kamu pakai React/Vite)
dist/
build/